/* styles.css */

.main-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-registration {
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.registration-image {
  flex: 1;
  margin-bottom: 1rem; 
  margin-left: 10rem;
  /* Decreased distance between image and form */
}

.registration-form {
  flex: 1;
}

.registration-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.registration-form input {
  width: calc(100% - 1rem);
  padding: 1rem; /* Increased padding for bigger input fields */
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem; /* Slightly increased font size */
}

.btn-submit {
  padding: 1rem 1.5rem; /* Increased padding for bigger button */
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; /* Slightly increased font size */
}

.btn-submit:hover {
  background-color: #388e3c;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .registration-image,
  .registration-form {
    width: 100%;
    margin-bottom: 1rem; /* Decreased distance between sections on smaller screens */
  }

  .registration-form input {
    width: calc(100% - 2rem);
  }
}
