# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env

# dotenv environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build directory
/build

# Dependency files
npm-debug.log*

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
