header {
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140rem;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.logo-brand {
  display: flex;
  align-items: center;
}

.logo-brand a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.logo-brand a:hover {
  color: var(--btn-color);
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 3rem;
  width: 10rem;
  text-align: center;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-color);
  text-decoration: none;
  transition: color 0.3s;
  display: block;
  padding: 1rem;
}

nav ul li a:hover {
  color: var(--btn-color);
}

nav ul li a.active {
  color: var(--btn-color);
  font-weight: bold;
}
